#navIn{
    color: #DFA420;
    text-decoration: none;
}

#navIn:hover{
    background-color: #DF20BA;
    color:black;
}

.navSpan{
    color: #DF20BA;
}

.navImg{
    float: left;
}

#nav-title{
    color: #DFA420;
    font-size: 48px;
    font-weight: bold;
}

#nav-title2{
    color: #DFA420;
    font-size: 48px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    #nav-title {
        font-size: 20px;
    }

    #nav-title2 {
        font-size: 20px;
    }

    #sign-in{
        font-size: 10px;
    }

    #logout-btn{
        font-size: 10px;
    }

    #login-btn{
        font-size: 10px;
    }

    #signup-btn{
        font-size: 10px;
    }
}