/* .App{
  background-color: black;
} */
#root{
  background-color: black;
  height: 100vh;
  --blue: #205BDF;
  --pink: #DF20BA;
  --orange: #DFA420;
  --green: #20DF45;
}

.log-form{
  background-color: rgb(32, 32, 32);
  border-radius: 10px;
}

.log-header{
  color: var(--orange)
}

.log-text {
  color: var(--pink);
}

#log-button{
  background-color: var(--orange);
  color: white
}

#log-button:hover{
  color: var(--pink);
  border: solid 2px var(--pink)
}

.log-goto{
  color: var(--pink);
  text-decoration: none;
}
.log-goto:hover{
  color: var(--orange);
}

#email:hover,
#pwd:hover,
#username:hover{
  border:  var(--orange) 2px solid;
  background-color: var(--pink);
}

.budget-header{
  color: var(--pink);
}

.budget-text {
  color: var(--orange);
  display: flex;
  justify-content: center;
}

#bigLogo{
  display: flex;
  justify-content: center;
}